name=foo
version=666
build=1
desc=Tiny bar for a baz.
source=http://example.net/$(name)-$(version).tar.gz

include ../Makefile

build:
	cd $w && ./configure \ 
		--prefix=/ \ 
		--disable-shared \ 
		--disable-nls \ 
		--mandir=/var/man
	cd $w && make
	DESTDIR=$d cd $w && make install

